
.logo {
    margin-left: 27%;
    margin-right: auto;
}

#header-wrapper {
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    max-width: 100%; /* 2 */
    padding-right: 100px; /* 3 */
    padding-left: 100px; /* 3 */
}

section {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.heading .heading--title {
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 29px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #444444;
    font-weight: 700;
    margin: 0 0 28px;
    line-height: 1;
  
}


.mb-70 {
    margin-bottom: 50px !important;
}

.text--center {
    text-align: center !important;
}

.unit-spacing-xs-2 {
    margin-bottom: -10px;
    margin-left: -5px;
}

.unit {
    display: flex;
    flex: 0 1 100%;
    margin-bottom: -10px;
    margin-left: -10px;
}

.align-items-center {
    align-items: center !important;
}

.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
}

.lnr-map-marker {
    color: #9ACD32;
    font-size: 40px;
}

.top-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

#map-marker {
    float: left; /* Обтекание картинки текстом */
    width: 10%;
}

#AddressTxt {
    margin-left: 40px; /* Отступ от левого края */
}

.btn-booking {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 10px;
}

    .btn-booking:hover {
        background: #fff;
        color: #1AAB8A;
    }

    .btn-booking:before, button:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: #1AAB8A;
        transition: 400ms ease all;
    }

    .btn-booking:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    .btn-booking:hover:before, button:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }


#img-about {
    border-radius: 10px;
}

.pricing-panel .pricing--heading {
    font-size: 20px;
    /*font-weight: 700;*/
    line-height: 40px;
    margin-bottom: 0;
    color: #ffffff;
    position: relative;
    float: none;
    padding-right: 8px;
    color: #222222;
}

.pricing--content {
    display: flex;
}

.pricing-panel {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    margin-bottom: 1px;
    overflow: hidden;
    position: relative;
}

.pricing--divider {
    height: 27px;
    border-bottom: 1px dashed #999999;
    flex-grow: 100;
}

.pricing-2 .pricing-panel .pricing--heading {
    color: #222222;
}

.pricing-panel .price {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    /* font-weight: 700;*/
    line-height: 40px;
    text-align: right;
    float: right;
    margin-bottom: 0;
    color: #222222;
    padding-left: 10px;
}

.heading--desc {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.footer {
    background-color: #414141;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 0px;
}

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: inline-block;
        vertical-align: top;
    }


    /* footer left*/

    .footer .footer-left {
        width: 33%;
        padding-right: 15px;
    }

    .footer .about {
        line-height: 20px;
        color: #ffffff;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer .about span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer .icons {
        margin-top: 25px;
    }

        .footer .icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }


    /* footer center*/

    .footer .footer-center {
        width: 30%;
    }

        .footer .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer .footer-center p a {
                color: #0099ff;
                text-decoration: none;
            }


    /* footer right*/

    .footer .footer-right {
        width: 35%;
    }

    .footer h2 {
        color: #ffffff;
        font-size: 36px;
        font-weight: normal;
        margin: 0;
    }

        .footer h2 span {
            color: #0099ff;
        }

    .footer .menu {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer .menu a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

            .footer .menu a:hover {
                color: #0099ff;
            }

    .footer .name {
        color: #0099ff;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

@media (max-width: 767px) {
    .footer {
        font-size: 14px;
    }

        .footer .footer-left,
        .footer .footer-center,
        .footer .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer .footer-center i {
                margin-left: 0;
            }
}
​
@import url(https://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic);.yBodyOverflowHidden {
    overflow: hidden
}

.yButton {
    position: fixed !important;
    width: 100px !important;
    height: 100px !important;
    box-sizing: border-box !important
}

    .yButton.bottom {
        bottom: 30px !important
    }

    .yButton.top {
        top: 30px !important
    }

    .yButton.right {
        right: 30px !important
    }

    .yButton.left {
        left: 30px !important
    }

.yButtonBackground {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 100% !important;
    background-color: #1c84c6;
    opacity: .8 !important;
    box-sizing: border-box !important
}

.yButtonWave {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%,-50%) !important;
    -moz-transform: translate(-50%,-50%) !important;
    -o-transform: translate(-50%,-50%) !important;
    transform: translate(-50%,-50%) !important;
    border-radius: 50% !important;
    color: #1c84c6;
    border: 2px solid !important;
    width: 105%;
    height: 105%;
    opacity: .9 !important;
    box-sizing: border-box !important;
    -webkit-animation: 2s cubic-bezier(.37,0,.8,.77) infinite wave-stroke;
    -moz-animation: 2s cubic-bezier(.37,0,.8,.77) infinite wave-stroke;
    -o-animation: 2s cubic-bezier(.37,0,.8,.77) infinite wave-stroke;
    animation: 2s cubic-bezier(.37,0,.8,.77) infinite wave-stroke
}

.yButtonIcon {
    display: none;
    box-sizing: border-box !important
}

.yButtonText {
    position: absolute !important;
    top: 25px !important;
    left: 5px !important;
    right: 5px !important;
    border-radius: 50% !important;
    width: 90px !important;
    height: 50px !important;
    color: #fff !important;
    font-size: 15px !important;
    line-height: 25px !important;
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle !important;
    letter-spacing: 1.5px !important;
    font-family: Play,sans-serif !important;
    box-sizing: border-box !important
}

.yWidgetBlock {
    position: fixed !important;
    top: 0 !important;
    width: 500px !important;
    height: 100% !important;
    background-color: #fff !important;
    background-image: url(/images/widgetBack.png) !important;
    background-position: center 10% !important;
    background-repeat: no-repeat !important;
    box-sizing: border-box !important
}

    .yWidgetBlock.right {
        right: -500px !important
    }

    .yWidgetBlock.left {
        left: -500px !important
    }

.yWidgetIFrame {
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box !important
}

.yWidgetCover {
    width: 100% !important;
    height: 100% !important;
    background: #333 !important;
    opacity: .5 !important;
    display: none;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    box-sizing: border-box !important
}

.yCloseIcon {
    position: fixed !important;
    top: 13px !important;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50% !important;
    background: url(https://yclients.com/images/icon-close.png) center center/12px 12px no-repeat #fff !important;
    display: none;
    box-sizing: border-box !important
}

    .yCloseIcon.left {
        left: 513px !important
    }

    .yCloseIcon.right {
        right: 513px !important
    }

.yWidgetShow {
    animation-duration: .4s !important
}

    .yWidgetShow.right {
        right: 0 !important;
        animation-name: slideinRight !important
    }

    .yWidgetShow.left {
        left: 0 !important;
        animation-name: slideinLeft !important
    }

.yWidgetHide {
    animation-duration: .4s !important
}

    .yWidgetHide.right {
        right: -500px !important;
        animation-name: slideoutRight !important
    }

    .yWidgetHide.left {
        left: -500px !important;
        animation-name: slideoutLeft !important
    }

@keyframes slideinRight {
    from {
        right: -500px
    }

    to {
        right: 0
    }
}

@-webkit-keyframes slideinRight {
    from {
        right: -500px
    }

    to {
        right: 0
    }
}

@-moz-keyframes slideinRight {
    from {
        right: -500px
    }

    to {
        right: 0
    }
}

@-o-keyframes slideinRight {
    from {
        right: -500px
    }

    to {
        right: 0
    }
}

@keyframes slideinLeft {
    from {
        left: -500px
    }

    to {
        left: 0
    }
}

@-webkit-keyframes slideinLeft {
    from {
        left: -500px
    }

    to {
        left: 0
    }
}

@-moz-keyframes slideinLeft {
    from {
        left: -500px
    }

    to {
        left: 0
    }
}

@-o-keyframes slideinLeft {
    from {
        left: -500px
    }

    to {
        left: 0
    }
}

@keyframes slideoutRight {
    from {
        right: 0
    }

    to {
        right: -500px
    }
}

@-webkit-keyframes slideoutRight {
    from {
        right: 0
    }

    to {
        right: -500px
    }
}

@-moz-keyframes slideoutRight {
    from {
        right: 0
    }

    to {
        right: -500px
    }
}

@-o-keyframes slideoutRight {
    from {
        right: 0
    }

    to {
        right: -500px
    }
}

@keyframes slideoutLeft {
    from {
        left: 0
    }

    to {
        left: -500px
    }
}

@-webkit-keyframes slideoutLeft {
    from {
        left: 0
    }

    to {
        left: -500px
    }
}

@-moz-keyframes slideoutLeft {
    from {
        left: 0
    }

    to {
        left: -400px
    }
}

@-o-keyframes slideoutLeft {
    from {
        left: 0
    }

    to {
        left: -500px
    }
}

@-webkit-keyframes wave-stroke {
    100% {
        width: 200%;
        height: 200%;
        border-color: transparent;
        opacity: 0
    }
}

@-moz-keyframes wave-stroke {
    100% {
        width: 200%;
        height: 200%;
        border-color: transparent;
        opacity: 0
    }
}

@-o-keyframes wave-stroke {
    100% {
        width: 200%;
        height: 200%;
        border-color: transparent;
        opacity: 0
    }
}

@keyframes wave-stroke {
    100% {
        width: 200%;
        height: 200%;
        border-color: transparent;
        opacity: 0
    }
}