@using Microsoft.AspNetCore.Identity    
@using Data.Entityes;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a asp-area="Identity" asp-controller="Account" title="Account">Добро пожаловать @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-light">Выйти</button>
                </li>
            </ul>
        </div>
    </form>
}
else
{
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a class="btn btn-outline-info" asp-controller="Account" asp-action="Login">Авторизация</a>
            </li>
        </ul>
    </div>
}