@model IEnumerable<Presentation.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h2>Управление</h2>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Управление пользователями</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#content" role="tab" aria-controls="content" aria-selected="false">Управление контентом</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <p></p>
            <p> <a asp-action="Users" asp-controller="Manager">Список пользователей</a></p>
            <p> <a asp-action="CreateRole" asp-controller="Manager"> Создать роль</a></p>
            <p> <a asp-action="Roles" asp-controller="Manager">Список ролей</a></p>
        </div>
        <div class="tab-pane fade" id="content" role="tabpanel" aria-labelledby="content-tab">
            <p></p>
            <p> <a asp-action="Content" asp-controller="Manager">Управление сайтом</a></p>
            <p> <a asp-action="Orders" asp-controller="Manager"> Список заказов</a></p>
        </div>
    </div>
</div>

