@model WebCore.Areas.Identity.Models.InputModel



<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="ConfirmPhone">
            <p>
                We have sent a confirmation code to (@Model.DialingCode) @Model.PhoneNumber
                Enter the code you receive to confirm your phone number.
            </p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="DialingCode" type="hidden" />
            <input asp-for="PhoneNumber" type="hidden" />

            <div class="form-group">
                <label asp-for="VerificationCode"></label>
                <input asp-for="VerificationCode" class="form-control" type="number" />
                <span asp-validation-for="VerificationCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}