
@{
    ViewData["Title"] = "ConfirmPhoneSuccess";
}

<h2>ConfirmPhoneSuccess</h2>

<div>
    <p>
        Thank you for confirming your phone number.
    </p>
    <a asp-page="/Index">Back to home</a>
</div>