@model WebCore.Areas.Identity.Models.RegistationViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Registration">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <span class="field-validation-valid" data-valmsg-for="PhoneNumber" data-valmsg-replace="true"></span>
        <label for="inputPhoneNumber">Телефон</label>
        <input type="text" class="form-control" asp-for="@Model.PhoneNumber" name="CustomerPhone" id="inputPhoneNumber" placeholder="Введите контактный телефон">
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirm" class="control-label"></label>
        <input asp-for="PasswordConfirm" class="form-control" />
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Зарегистрироваться" class="btn btn-default" />
    </div>

</form>
<script>
    $(document).ready(function ($) {
        $("#inputPhoneNumber").mask("+375 (99) 999-99-99");
    });
</script>