@model WebCore.Areas.Identity.Models.RegistationViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <form asp-action="Registration">
        <h2>Форма для регистрации</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CustomerName" class="control-label">Имя пользователя</label>
            <input asp-for="CustomerName" class="form-control" />
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm" class="control-label">Повторный пароль</label>
            <input asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
        </div>

    </form>
</div>
<script>
    $(document).ready(function ($) {
        $("#inputPhoneNumber").mask("+375 (99) 999-99-99");
    });
</script>