@model Presentation.Models.CategoryViewModel

@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@{
    var img = Model.NameCategory + ".jpg";

    <div>

        <div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="margin-top:20px; background-image:url('/images/Galereya/dark.jpg');">
            <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">@Model.NameCategory</h1>
        </div>

        <dl class="dl-horizontal">
            <dt>
                @Model.NameCategory
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
               @foreach (var item in Model.Products)
               {
                  @item.Name
               }
            </dd>
        </dl>
    </div>

    <section id="selection-instagram" class=" pb-100 ">
        <div class="container">
            <div class="row">
                <div class="heading text--center">
                    <h2 class="heading--title">Следите за нашим Instagram</h2>
                    <p class="heading--desc">Duis aute irure dolor in reprehenderit volupte velit esse cillum dolore eu fugiat pariatursint occaecat cupidatat non proident culpa.</p>

                    <div uk-slider="center: true">
                        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                            <ul id="sliderTarget" class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@m"></ul>

                            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                        </div>
                        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                    </div>

                    <div class="divider--line"></div>
                </div>
            </div>
        </div>
    </section>

}
